/*----------------------------------------------- Everblade MAIN Section -----*/

#everblade-main {
  background-image: url("../images/bg-everblade.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-list {
  position: absolute;
  z-index: 1000;
  right: 5%;

  li {
    display: block;
    list-style: none;
    margin: 20px 10px;
  }
}

.blackout {
  width: 100%;
  height: 100%;
  background-color: #000;
  animation: fade 1200ms linear;
  position: absolute;
  opacity: 0;
}

.player {
  width: 60%;
  height: 60%;
  background-image: url("../images/player.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 16% 20% 0 16%;
  position: absolute;
  animation: move 1200ms ease-in;
  opacity: 0;
}

.flash {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 30% 20% 10%;
  background-color: #babafa;
  border-radius: 50%;
  animation: flash 1200ms linear;
  opacity: 0;
}

@keyframes move {
  0% {
    opacity: 1;
    width: 1%;
    height: 1%;
  }

  30% {
    width: 60%;
    height: 60%;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1%;
    width: 10px;
    height: 10px;
  }

  40% {
    opacity: 100%;
    width: 2000px;
    height: 2000px;
  }
  100% {
    opacity: 0;
    width: 2000px;
    height: 2000px;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
}

/*----------------------------------------------- Everblade VIDS Section -----*/

#everblade-vids {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 10%;
}

.video-wrapper {
  width: 100%;
  padding: 1rem;
  flex-shrink: 0;
  transition: 250ms;
  margin: 0 auto;
}

iframe {
  width: 100%;
  max-width: 680px;
}

.slider-controls {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem 2rem 1rem;
  max-width: 800px;
  position: absolute;
  bottom: 20%;
}

#sld-btn-1::after {
  content:"Trailer 1";
}

#sld-btn-2::after {
  content:"Trailer 2";
}

#sld-btn-3::after {
  content:"Features";
}

#sld-btn-4::after {
  content:"Gameplay";
}

/*----------------------------------------------- Media queries ------*/

@media screen and (max-width: 400px) {
  #sld-btn-1::after, #sld-btn-2::after, #sld-btn-3::after, #sld-btn-4::after{
    content: " ";
    padding-left: 20px;
  }
  .carousel {
    margin-top: 40%;
  }
}

@media screen and (min-width: 576px) {
  .carousel {
    margin-top: 1%;
  }
  .slider-controls {
    bottom: 7%;
  }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1200px) {
  .carousel {
    margin-top: 4%;
  }
}
