* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #000;
    color: #fafafa;
    overflow-x: hidden;
}

/*------------------------------------------ General Styling --*/

h1 {
    text-shadow: 1px 1px 4px #000;
}

a {
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

a:hover,
a:focus {
    color: #babafa;
    text-decoration: none;
}

p {
    color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    color: #fafafa;
}

button,
.link-button {
    padding: 0.3rem;
    border-color: transparent;
    background-color: #aa3333;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: 0 0 10px #000;
}

button:hover,
button:focus,
.link-button:hover,
.link-button:focus {
    background-color: #fababa;
    color: #3333aa;
    box-shadow: 0 0 10px #aa3333;
}

iframe {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/*------------------------------------------ HEADER --*/

header {
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 12px;
}

.navbar-brand {
    font-size: 2rem;
}

/*------------------------------------------ Layout --*/

.page-wrapper {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.column {
    width: 100%;
    padding: 0 1rem;
}

/*----------------------------------------------- HERO section ----------*/

#hero {
    background-image: url("../images/bg-hero.png");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 90%;
}

.intro-text {
    margin-top: 25%;
    padding: 2rem;
}

/*----------------------------------------------- EVERBLADE section -----*/

#everblade {
    background-image: url("../images/bg-everblade.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*----------------------------------------------- MAN OR MANOR section --*/

#manormanor {
    background-color: #000;
}

/*----------------------------------------------- ABOUT US section ------*/

#about {
    background-color: #000;
}

/*----------------------------------------------- Utility classes ------*/

.fade-bg {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px 0 12px 0;
}

/*----------------------------------------------- Media queries ------*/


@media screen and (min-width: 576px){
    #hero {
        background-size: 80%;
    }
}

@media screen and (min-width: 768px){
    button,
    .link-button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    #hero {
        background-size: 50%;
    }
    .intro-text {
        margin-left: 50%;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1200px){
    .column {
        width: 50%;
    }

    #everblade {
        background-position: right;
    }
}

