* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*------------------------------------------ General Styling --*/

h1 {
    color: #fafafa;
    text-shadow: 1px 1px 4px #000;
}

/*------------------------------------------ Page snap scroll layout --*/

.page-wrapper {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/*----------------------------------------------- HERO section ----------*/

#hero {
    background-color: #000;
}

/*----------------------------------------------- EVERBLADE section -----*/

#everblade {
    background-color: #000;
}

/*----------------------------------------------- MAN OR MANOR section --*/

#manormanor {
    background-color: #000;
}

/*----------------------------------------------- ABOUT US section ------*/

#about {
    background-color: #000;
}